@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>THOT E-Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Clean responsive bootstrap website template">
    <meta name="author" content="">
    <!-- styles -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/assets/css/docs.css" rel="stylesheet">
    <link href="~/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="~/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/assets/css/flexslider.css" rel="stylesheet">
    <link href="~/assets/css/refineslide.css" rel="stylesheet">
    <link href="~/assets/css/font-awesome.css" rel="stylesheet">
    <link href="~/assets/css/animate.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">

    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/color/default.css" rel="stylesheet">

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="~/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>
    <header>
        <!-- Navbar
        ================================================== -->
        <div class="cbp-af-header">
            <div class=" cbp-af-inner">
                <div class="container">
                    <div class="row">

                        <div class="span4">
                            <!-- logo -->
                            <div class="logo">
                                <h1><a href="/Teacher/accueil">THOT</a></h1>
                            </div>
                            <!-- end logo -->
                        </div>

                        <div class="span8">
                            <!-- top menu -->
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <nav>
                                        <ul class="nav topnav">
                                            <li class="dropdown active">
                                                <a href="/Teacher/accueil">Home</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="/Teacher/AddCourse">Add Course</a>
                                            </li>
                                            <li class="dropdown ">
                                                <a href="/Teacher/MyCourses">My Courses</a>
                                            </li>


                                            <li class="dropdown">
                                                <a href="/Teacher/Chat">Chat</a>

                                            <li>
                                                <a href="/Student/Index">Sign out</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- end menu -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Subhead
    ================================================== -->
    <section id="subintro">

        <div class="container">
            <div class="row">
                <div class="span4">
                    <h3> <strong>Welcome @Session["username"].ToString()</strong></h3>
                </div>
                <div class="span8">
                    <ul class="breadcrumb notop">
                        <li><a href="#">Home</a><span class="divider">/</span></li>
                        <li class="active">Index</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <h2><strong>Start Teaching Now !</strong></h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, qui corpora oportere cu. Usu et iudico maluisset, pro ut lobortis
                        vituperatoribus, percipit aliquando efficiendi est ex.
                    </p>
                    <ul class="list list-ok strong bigger">
                        <li>More than 80k Students</li>
                        <li>Manage your own work schedule</li>
                        <li>Profitable rates</li>
                    </ul>

                </div>

            </div>

            <div class="span12">
                <article>
                    <div class="heading">
                        <div class="cta">
                            <a class="btn btn-large btn-rounded btn-color" href="/Teacher/AddCourse">
                                <i class="icon-chevron-right"></i> Add a course !
                            </a>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="row">





                    </div>
                </article>
                <!-- end article full post -->
            </div>
        </div>
        </div>
    </section>
    <!-- Footer
    ================================================== -->
    <footer class="footer">
        <div class="container">

        </div>
        <div class="container">
            <div class="row">
                <div class="span6">
                    <p>
                        &copy; Thot - All right reserved
                    </p>
                </div>
                <div class="span6">
                    <div class="pull-right">
                        <div class="credits">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/modernizr.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/assets/js/google-code-prettify/prettify.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>
    <script src="~/assets/js/jquery.prettyPhoto.js"></script>
    <script src="~/assets/js/portfolio/jquery.quicksand.js"></script>
    <script src="~/assets/js/portfolio/setting.js"></script>
    <script src="~/assets/js/hover/jquery-hover-effect.js"></script>
    <script src="~/assets/js/jquery.flexslider.js"></script>
    <script src="~/assets/js/classie.js"></script>
    <script src="~/assets/js/cbpAnimatedHeader.min.js"></script>
    <script src="~/assets/js/jquery.refineslide.js"></script>
    <script src="~/assets/js/jquery.ui.totop.js"></script>
    <script src="~/Scripts/Myscript.js"></script>
    <!-- Template Custom Javascript File -->
    <script src="~/assets/js/custom.js"></script>

</body>

</html>
